
.home-slider{
  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;

  }
  @media screen and (min-width: 992px) {
    margin-bottom: 5em;

  }
  .site-block-cover-content{
    padding: 0 1em;
    margin: 0 auto;
    @media screen and (min-width: 992px) {
      max-width: 80%;

    }
    h1{
      font-size: 20px;
      @media screen and (min-width: 767px) {
        font-size: 50px;
      }
    }
    .sub-title {
      font-size: 10px;
      @media screen and (min-width: 767px) {
        font-size: 14px;
      }
    }
  }
  
}

.mxh-8{
  max-height: 8em;
}

.footer-content{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.read-more-btn{
  cursor: pointer;
  color: rgb(77, 159, 226) !important;
}


/* slider styling */

.slide-container{
  position: relative;
  .item{
    padding: 5% 0 20%;
    background-size: cover;
    height: calc(640px / 2);

    @media screen and (min-width: 992px) {
      height: auto;
      padding: 20% 0;
    }
  }
}

.owl-nav > * {
  display: inline;
  position: absolute;
  top: 50%;
}

.nav-btn {
  height: 2em;
  width: 2em;
  @media screen and (min-width: 767px) {
    height: 3em;
    width: 3em;
  }
}

.owl-prev{
  left: 0;
}
.owl-next {
  right: 0;
}
.prev-slide,.next-slide  {
	background-size: 70%;
	background-color: rgba(255,255,255,0.8);
	padding: 1em;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;

}
.prev-slide {
  background-image: url("../images/left-arrow.svg");
}
.next-slide {
  right: 0;
  background-image: url("../images/next.svg");
 
}

.centerd-flex{
  justify-content: center;
}